@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!---Domantas-->
@*Ashanti*@
<html>
<body>
    <h1 align="center">@Model.WELCOMMEN_</h1>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Image 1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FULFILL A CHRISTMAS WISH</h5>
                        <p class="card-text">Rejoice a boy or girl - and come past the Wish Tree on Fisketorvet. You will find the Wish Tree on Plan 2 v / Zara</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Image 2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ADVENT CALENDAR - WIN!</h5>
                        <p class="card-text">Join the first Advent raffle for an opportunity to win a gift card for Fisketorvet</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Image 3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RECONNECT WITH CHRISTMAS</h5>
                        <p class="card-text">Buy beautiful jewellery for gifts at our stores.</p>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Image 4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">THE MAGIC OF CHRISTMAS</h5>
                        <p class="card-text">At Fisketorvet, everything is gathered under one roof, so you do not have to wander around in rain, sleet or snow.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Image 5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">GO ON A TREASURE HUNT</h5>
                        <p class="card-text">Explore our Christmas exhibition and use your eyes well - because you can win beautiful gift cards here in December.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Image 6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">HAVE AN ADVENTUROUS CHRISTMAS</h5>
                        <p class="card-text">Fisketorvet and EventyrJul have collaborated on a finely decorated wish tree.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>