@page
@model FisketorvetApp.Pages.RestaurantModel
@{
}
<!--Máté-->

<h1 align="center">Restaurants</h1>

<div>
    <form>
        <p>
            Search: <input type="text" asp-for="Criteria" />
            <input type="submit" value="filter" />
        </p>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var restaurant in Model.Restaurants)
        {
            <div class="card mb-3 mx-auto col-12 col-md-6 col-lg-3">
                <div class="card-body">
                    <a asp-page="/Products" asp-route-name="@restaurant.Name">@restaurant.Name</a>
                    <h5> @restaurant.Location</h5>
                    <h5>@restaurant.OpeningHours</h5>
                </div>
            </div>
        }
    </div>
</div>
