@page
@model FisketorvetApp.Pages.ShoppingCartModel
@{
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Store">Store</a>
</li> <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Store">Restaurant</a>

</li>