@page
@model FisketorvetApp.Pages.Shared.StoreModel
@{
}
<!--Máté-->

<h1  align="center">Stores</h1>

<div>
    <form>
        <p>
            Search: <input type="text" asp-for="Criteria" />
            <input type="submit" value="filter" />
        </p>
    </form>
</div>


        <div class="container">
            <div class="row">
                @foreach (var store in Model.Stores)
                {
                <div class="card mb-3 mx-auto col-12 col-md-6 col-lg-3">
                    <div class="card-body">
                        <a style="color: #efb0c6; text-decoration: none;" class="font-weight-bold" asp-page="/Products" asp-route-name="@store.Name">@store.Name</a>
                        <h5> @store.Location</h5>
                        <h5>@store.OpeningHours</h5> 
                    </div>
                </div>
                }

            </div>
        </div>
